USE [master]
GO
/****** Object:  Database [HardwareStore]    Script Date: 10/23/2016 18:42:28 ******/
CREATE DATABASE [HardwareStore] ON  PRIMARY 
( NAME = N'HardwareStore', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\HardwareStore.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HardwareStore_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\HardwareStore_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HardwareStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HardwareStore]
GO
/****** Object:  Table [dbo].[Hammers]    Script Date: 10/23/2016 18:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Hammers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Category] [varchar](50) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[QuantityOnHand] [int] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_Hammer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Default [DF_Hammers_Price]    Script Date: 10/23/2016 18:42:29 ******/
ALTER TABLE [dbo].[Hammers] ADD  CONSTRAINT [DF_Hammers_Price]  DEFAULT ((0)) FOR [Price]
GO
/****** Object:  Default [DF_Hammers_QuantityOnHand]    Script Date: 10/23/2016 18:42:29 ******/
ALTER TABLE [dbo].[Hammers] ADD  CONSTRAINT [DF_Hammers_QuantityOnHand]  DEFAULT ((0)) FOR [QuantityOnHand]
GO
/****** Object:  Default [DF_Hammers_LastUpdated]    Script Date: 10/23/2016 18:42:29 ******/
ALTER TABLE [dbo].[Hammers] ADD  CONSTRAINT [DF_Hammers_LastUpdated]  DEFAULT (getdate()) FOR [LastUpdated]
GO
